{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock %}

{% block head %}
      <script src="{{ url_for('static', filename='index.js') }}"></script>
      <meta id="channel-messages-data" data-channel="{{data.channel}}" data-messages="{{data.messages}}" data-channels="{{data.channels}}">
{% endblock %}

{% block sidebar %}
  <table id="channel_table">
    <tbody>
    {% for ch in data.channels %}
      {% if ch == data.channel %}
        <tr>
            <td><b><a href="{{ url_for('channel', channel=ch) }}">{{ ch }}</a></b></td>
        </tr>
      {% else %}
        <tr>
            <td><a href="{{ url_for('channel', channel=ch) }}">{{ ch }}</a></td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>

  <form id="channelForm">
    <label for="newChannel">New Channel:</label><br>
    <input type="text" id="newChannel" name="newChannel"><br>
    <input type="submit" id="addChannel" name="addChannel" value="Add">
  </form>
  <button id="sendChannel">ADD CHANNEL</button>

{% endblock %}

{% block body %}

  <div>Yes Votes: <span id="yes">{{ votes["yes"] }}</span></div>
  <div>No Votes: <span id="no">{{ votes["no"] }}</span></div>
  <div>Maybe Votes: <span id="maybe">{{ votes["maybe"] }}<span></div>
  <hr>
  <button data-vote="yes">Yes</button>
  <button data-vote="no">No</button>
  <button data-vote="maybe">Maybe</button>

  <table id="message_table">
    <th colspan="3" id="message_table_header">{{ data.channel }}</th>
  </table>

  <form id="messageForm">
    <label for="message">Message:</label><br>
    <input type="text" id="message" name="message"><br>
    <input type="submit" id="send" name="send" value="Send">
  </form>

  <button id="sendTest">Send TEST</button>

{% endblock %}
